In [50]:
import pandas as pd
import os
#create an empty dataframe
df = pd.DataFrame()

#use the os package to walk the lyrics file directory
file_list = ['01-taylor_swift.csv', '02-fearless_taylors_version.csv', 
              '03-speak_now_deluxe_package.csv', '04-red_deluxe_edition.csv', '05-1989_deluxe.csv', 
              '06-reputation.csv', '07-lover.csv', '08-folklore_deluxe_version.csv', 
             '09-evermore_deluxe_version.csv', '10_midnights.csv']
for filename in file_list:
    df_temp = pd.read_csv("lyrics/"+filename)
    df = pd.concat([df,df_temp], axis = 0)
df
df.to_csv('taylor_swift_lyrics_2006-2020_all.csv', index = False)

In [51]:
lyrics = pd.read_csv('taylor_swift_lyrics_2006-2020_all.csv')

In [34]:
df

,album_name,track_title,track_n,lyric,line
0,midnights,lavendar haze,1,Meet me at midnight,1
1,midnights,lavendar haze,1,Staring at the ceiling with you,2
2,midnights,lavendar haze,1,"Oh, you don't ever say too much",3
3,midnights,lavendar haze,1,And you don't really read into,4
4,midnights,lavendar haze,1,My melancholia,5
...,...,...,...,...,...
1007,midnights (3am edition),dear reader,20,"You should find another guiding light, guiding...",34
1008,midnights (3am edition),dear reader,20,But I shine so bright,35
1009,midnights (3am edition),dear reader,20,"You should find another, you should find anoth...",36
1010,midnights (3am edition),dear reader,20,"Find another, you should find another",37
1011,midnights (3am edition),dear reader,20,You should find another,38

In [55]:
def album_release(row):  
    if row['album_name'] == 'Taylor Swift':
        return '2006'
    elif row['album_name'] == 'Fearless (Taylor’s Version)':
        return '2008'
    elif row['album_name'] == 'Speak Now (Deluxe)':
        return '2010'
    elif row['album_name'] == 'Red (Deluxe Edition)':
        return '2012'
    elif row['album_name'] == '1989 (Deluxe)':
        return '2014'
    elif row['album_name'] == 'reputation':
        return '2017'
    elif row['album_name'] == 'Lover':
        return '2019'
    elif row['album_name'] == 'evermore (deluxe version)':
        return '2020'
    #ok, we know folklore was actually released in Dec 2020, but this will make our analysis easier
    elif row['album_name'] == 'folklore (deluxe version)':
        return '2021'
    elif row['album_name'] == 'midnights':
        return '2022'
    elif row['album_name'] == 'midnights (3am edition)':
        return '2022'
    
    
    return 'No Date'

# apply the function to the album
lyrics['album_year'] = lyrics.apply(lambda row: album_release(row), axis=1)

# inspect the first few rows of the DataFrame
lyrics.head()

,album_name,track_title,track_n,lyric,line,album_year
0,Taylor Swift,Tim McGraw,1,He said the way my blue eyes shined,1,2006
1,Taylor Swift,Tim McGraw,1,Put those Georgia stars to shame that night,2,2006
2,Taylor Swift,Tim McGraw,1,"I said, ""That's a lie""",3,2006
3,Taylor Swift,Tim McGraw,1,Just a boy in a Chevy truck,4,2006
4,Taylor Swift,Tim McGraw,1,That had a tendency of gettin' stuck,5,2006

In [56]:
album_year = lyrics[['album_name', 'album_year']]
album_year = album_year.drop_duplicates()

In [57]:
album_year

                       album_name album_year
0                    Taylor Swift       2006
609   Fearless (Taylor’s Version)       2008
1779           Speak Now (Deluxe)       2010
2724         Red (Deluxe Edition)       2012
3796                1989 (Deluxe)       2014
4802                   reputation       2017
5790                        Lover       2019
6724    folklore (deluxe version)       2021
7446    evermore (deluxe version)       2020
8358                    midnights       2022
9021      midnights (3am edition)       2022

In [58]:
album_year.to_csv('album_year_name.csv')

In [ ]:
'[^\w\s]'