In [1]:
import pandas as pd
import sqlite3

In [5]:
taylor_df = pd.read_csv("../datasets/taylor_swift_api.csv")

In [2]:
conn = sqlite3.connect("taylor.sqlite")

In [6]:
taylor_df.to_sql("taylor_main", conn, if_exists= "replace", index=False)

268

In [7]:
taylor_df1 = pd.read_sql("""SELECT *,
       CASE
           WHEN key = 0 THEN 'C'
           WHEN key = 1 THEN 'C#'
           WHEN key = 2 THEN 'D'
           WHEN key = 3 THEN 'D#'
           WHEN key = 4 THEN 'E'
           WHEN key = 5 THEN 'F'
           WHEN key = 6 THEN 'F#'
           WHEN key = 7 THEN 'G'
           WHEN key = 8 THEN 'G#'
           WHEN key = 9 THEN 'A'
           WHEN key = 10 THEN 'A#'
           WHEN key = 11 THEN 'B'
           ELSE 'no key'
       END AS album_key
FROM 'taylor_main'""", conn)
taylor_df1.to_sql("taylor_main", conn, if_exists= "replace", index=False)

268

In [8]:
group_by_taylor = pd.read_sql("""SELECT album_name, 
       avg(popularity) as popularity, 
       round(avg(key)) as key, 
       avg(danceability) as danceability,
       avg(energy) as energy,
       avg(loudness) as loudness,
       avg(acousticness) as acousticness,
       avg(instrumentalness) as instrumentalness,
       avg(liveness) as liveness,
       avg(valence) as valence,
       avg(tempo) as tempo,
       CASE
           WHEN key = 0 THEN 'C'
           WHEN key = 1 THEN 'C#'
           WHEN key = 2 THEN 'D'
            WHEN key = 3 THEN 'D#'
            WHEN key = 4 THEN 'E'
            WHEN key = 5 THEN 'F'
            WHEN key = 6 THEN 'F#'
            WHEN key = 7 THEN 'G'
            WHEN key = 8 THEN 'G#'
            WHEN key = 9 THEN 'A'
            WHEN key = 10 THEN 'A#'
            WHEN key = 11 THEN 'B'

           ELSE 'no key'
       END AS album_key
FROM 'taylor_main'
GROUP BY 1""", conn)
group_by_taylor

,album_name,popularity,key,danceability,energy,loudness,acousticness,instrumentalness,liveness,valence,tempo,album_key
0,...Ready For It? (BloodPop® Remix),56.000000,7.0,0.582000,0.835000,-4.899000,0.133000,0.000000,0.102000,0.496000,160.090000,G
1,1989 (Deluxe Edition),36.333333,5.0,0.682667,0.239667,-16.463333,0.782333,0.000000,0.456333,0.457667,108.147000,A
2,1989 (Taylor's Version),80.523810,3.0,0.632095,0.665143,-7.126238,0.111264,0.001039,0.152057,0.422371,119.993667,G
3,1989 (Taylor's Version) [Deluxe],77.000000,2.0,0.602000,0.648000,-6.905000,0.010400,0.000000,0.217000,0.174000,170.091000,D
4,All Of The Girls You Loved Before,83.000000,2.0,0.718000,0.467000,-9.660000,0.707000,0.000069,0.126000,0.396000,95.960000,D
...,...,...,...,...,...,...,...,...,...,...,...,...
58,evermore,73.200000,5.0,0.518867,0.491333,-9.822467,0.795333,0.023358,0.114933,0.420600,117.479067,G
59,evermore (deluxe version),77.500000,5.0,0.586500,0.514500,-9.475000,0.785000,0.000060,0.103500,0.530500,144.919000,A#
60,folklore (deluxe version),72.058824,4.0,0.541941,0.415824,-10.336059,0.717588,0.000302,0.110465,0.361353,119.884412,C
61,reputation,82.133333,4.0,0.657933,0.582867,-7.672400,0.138515,0.000044,0.152153,0.293400,127.540133,D
62,willow (90's trend remix),52.000000,7.0,0.600000,0.603000,-8.696000,0.313000,0.000000,0.087200,0.379000,168.085000,G

In [9]:
group_by_taylor.to_sql("taylor_group", conn, if_exists= "replace", index=False)

63

In [34]:
main_albums = pd.read_sql("""
SELECT *
FROM "taylor_main"
WHERE album_name IN (
    "Taylor Swift",
    "Fearless (Taylor's Version)",
    "Speak Now (Taylor's Version)",
    "Red (Taylor's Version)",
    "1989 (Taylor's Version)",
    "reputation",
    "Lover",
    "folklore (deluxe version)",
    "evermore (deluxe version)",
    "Midnights (The Til Dawn Edition)"
)""", conn)
main_albums.to_sql("taylor_main_albums", conn, if_exists= "replace", index=False)

169

In [40]:
taylor_main_groupby = pd.read_sql("""
SELECT album_name, 
       avg(popularity) as popularity, 
       round(avg(key)) as key, 
       avg(danceability) as danceability,
       avg(energy) as energy,
       avg(loudness) as loudness,
       avg(acousticness) as acousticness,
       avg(instrumentalness) as instrumentalness,
       avg(liveness) as liveness,
       avg(valence) as valence,
       avg(tempo) as tempo,
       CASE
           WHEN key = 0 THEN 'C'
           WHEN key = 1 THEN 'C#'
           WHEN key = 2 THEN 'D'
           WHEN key = 3 THEN 'D#'
           WHEN key = 4 THEN 'E'
           WHEN key = 5 THEN 'F'
           WHEN key = 6 THEN 'F#'
           WHEN key = 7 THEN 'G'
           WHEN key = 8 THEN 'G#'
           WHEN key = 9 THEN 'A'
           WHEN key = 10 THEN 'A#'
           WHEN key = 11 THEN 'B'
           ELSE 'no key'
       END AS album_key
FROM 'taylor_main'
WHERE album_name IN (
    "Taylor Swift",
    "Fearless (Taylor's Version)",
    "Speak Now (Taylor's Version)",
    "Red (Taylor's Version)",
    "1989 (Taylor's Version)",
    "reputation",
    "Lover",
    "folklore (deluxe version)",
    "evermore (deluxe version)",
    "Midnights (The Til Dawn Edition)"
)
GROUP BY 1
""", conn)
taylor_main_groupby.to_sql("taylor_main_albums_group", conn, if_exists= "replace", index=False)

10

In [10]:
import numpy as np

from sqlalchemy.orm import Session
from sqlalchemy import create_engine,  text

from flask import Flask, jsonify, Response


import json

In [11]:
engine = create_engine("sqlite:///taylor.sqlite")

In [13]:
taylor_main = text("SELECT * FROM taylor_main")
data = engine.execute(taylor_main)
data